[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot_plugin_aptget"]
	path = plugins/dotbot_plugin_aptget
	url = https://github.com/dein0s/dotbot_plugin_aptget.git
[submodule "dotbot-sudo"]
	path = dotbot-sudo
	url = https://github.com/DrDynamic/dotbot-sudo.git
[submodule "plugins/dotbot-snap"]
	path = plugins/dotbot-snap
	url = https://github.com/DrDynamic/dotbot-snap.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
	ignore = dirty
